In [ ]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [ ]:
df = pd.read_csv("/content/creditcard.csv")
df.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [ ]:
df = df.drop(['Time'], axis=1)

In [ ]:
from sklearn.preprocessing import StandardScaler
std = StandardScaler()

df['Amount'] = std.fit_transform(np.array(df['Amount']).reshape(-1,1))

In [ ]:
df.head()

         V1        V2        V3        V4  ...       V27       V28    Amount  Class
0 -1.359807 -0.072781  2.536347  1.378155  ...  0.133558 -0.021053  0.244964      0
1  1.191857  0.266151  0.166480  0.448154  ... -0.008983  0.014724 -0.342475      0
2 -1.358354 -1.340163  1.773209  0.379780  ... -0.055353 -0.059752  1.160686      0
3 -0.966272 -0.185226  1.792993 -0.863291  ...  0.062723  0.061458  0.140534      0
4 -1.158233  0.877737  1.548718  0.403034  ...  0.219422  0.215153 -0.073403      0

[5 rows x 30 columns]

In [ ]:
X = df.iloc[:, :-1]
Y = df.iloc[:, -1]

In [ ]:
X = np.array(X)
Y = np.array(Y)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state=0, test_size=0.3)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(284807, 29) (199364, 29) (85443, 29)

In [ ]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout

In [ ]:
model = Sequential()
model.add(Dense(15, input_dim=29, activation='relu'))
model.add(Dense(20, activation='relu'))
Dropout(0.5)
model.add(Dense(4, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [ ]:
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [ ]:
es_callback = tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=2, restore_best_weights=True, verbose=1)

In [ ]:
model.fit(X_train, Y_train, batch_size=7, epochs=10, callbacks=[es_callback], validation_split=0.1, verbose=1)

Epoch 1/10
25633/25633 [==============================] - 54s 2ms/step - loss: 0.0427 - accuracy: 0.9880 - val_loss: 0.0033 - val_accuracy: 0.9994
Epoch 2/10
25633/25633 [==============================] - 40s 2ms/step - loss: 0.0035 - accuracy: 0.9993 - val_loss: 0.0031 - val_accuracy: 0.9994
Epoch 3/10
25633/25633 [==============================] - 40s 2ms/step - loss: 0.0038 - accuracy: 0.9992 - val_loss: 0.0033 - val_accuracy: 0.9994
Epoch 4/10
25633/25633 [==============================] - 39s 2ms/step - loss: 0.0026 - accuracy: 0.9995 - val_loss: 0.0031 - val_accuracy: 0.9992
Epoch 5/10
25633/25633 [==============================] - 40s 2ms/step - loss: 0.0029 - accuracy: 0.9994 - val_loss: 0.0030 - val_accuracy: 0.9993
Epoch 6/10
25633/25633 [==============================] - 40s 2ms/step - loss: 0.0028 - accuracy: 0.9994 - val_loss: 0.0031 - val_accuracy: 0.9994
Epoch 7/10
25633/25633 [==============================] - 40s 2ms/step - loss: 0.0028 - accuracy: 0.9994 - val_loss: 0.0029 - val_accuracy: 0.9993
Epoch 8/10
25633/25633 [==============================] - 40s 2ms/step - loss: 0.0027 - accuracy: 0.9994 - val_loss: 0.0030 - val_accuracy: 0.9993
Epoch 9/10
25633/25633 [==============================] - 40s 2ms/step - loss: 0.0025 - accuracy: 0.9994 - val_loss: 0.0046 - val_accuracy: 0.9993
Restoring model weights from the end of the best epoch.
Epoch 00009: early stopping

In [ ]:
print(model.evaluate(X_test, Y_test))

2671/2671 [==============================] - 3s 1ms/step - loss: 0.0032 - accuracy: 0.9994
[0.003238310571759939, 0.9994148015975952]